@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="MusicLibrary" asp-action="Index">
        <div>Music Library</div>
    </a>
   
    <a asp-controller="Mix" asp-action="Index">
        <div>Mix Creator</div>
    </a>

    
</div>
