@{
    ViewData["Title"] = "Music Library";
}

<a asp-controller="Songs" asp-action="UploadSongs">
    <div>Upload Songs</div>
</a>

<a asp-controller="Songs" asp-action="Index">
    <div>All Songs</div>
</a>

<a asp-controller="Playlists" asp-action="Index">
    <div>Playlists</div>
</a>
